    /* company_info */
    #ad_reg {
        height: auto;
        width: 900px;
        margin: 70px auto 160px;
    }

    .ad_reg_title {
        font-size: 20px;
        font-weight: bold;
        margin: 0 auto 20px;
    }

    .company_info {
        width: 900px;
        height: 330px;
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .company_info p {
        width: 430px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .company_info label {
        display: inline-block;
        line-height: 30px;
        text-align: left;
        color: #949494;
        font-size: 16px;
    }

    .company_info_box1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        height: 160px;
        margin: auto;
    }

    .company_info_box1 p {
        width: 430px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .company_info_box1 p input {
        width: 330px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #0080ff;
        box-sizing: border-box;
    }

    .company_info_box2 {
        width: 900px;
        height: 110px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .company_info_box2 p {
        width: 900px;
    }

    .company_info_box2 input {
        width: 800px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #0080ff;
        box-sizing: border-box;
    }

    .company_info h3 {
        font-size: 18px;
        width: 900px;
        margin-bottom: 20px;
        text-align: left;
    }

    .company_info>p>input {
        width: 330px;
        height: 30px;
        margin-top: 8px;
        border-radius: 5px;
        border: 1px solid #0080ff;
        box-sizing: border-box;
    }

    .company_info #c_logo {
        width: 400px;
    }

    #c_logo span {
        line-height: 30px;
    }

    .filebox .upload-name {
        display: inline-block;
        height: 30px;
        padding: 0 10px;
        vertical-align: middle;
        border: 1px solid #0080ff;
        width: 500px;
        color: #999999;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .filebox .file_search {
        display: inline-block;
        padding: 0 10px;
        color: #fff;
        vertical-align: middle;
        background-color: #0080ff;
        cursor: pointer;
        height: 30px;
        box-sizing: border-box;
        margin-right: 100px;
    }

    .filebox input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
    }

    .c_logo {
        margin-right: 37px
    }

    /* ad_info */
    .ad_info h3 {
        font-size: 18px;
        width: 900px;
        text-align: left;
        margin: 0 auto 20px;
    }

    .ad_info_sel {
        width: 900px;
        height: 110px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }

    .ad_info_sel p {
        width: 283px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .ad_info_wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 900px;
        height: 160px;
        margin: auto;
    }

    .ad_info_wrap p {
        width: 430px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .ad_info label {
        line-height: 30px;
        color: #949494;
        text-align: left;
    }

    .ad_info input {
        width: 330px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #0080ff;
        box-sizing: border-box;
    }

    .ad_info_desc {
        width: 900px;
        margin: auto;
    }

    .ad_info_desc label {
        display: block;
        width: 900px;
        margin: auto;
        color: #949494;
        text-align: left;
    }

    #ad_info_title {
        width: 900px;
        height: 30px;
        margin: 0 auto 25px;
    }

    #ad_info_detail {
        width: 900px;
        height: 300px;
        margin: 0 auto 25px;
    }

    .ad_info_date {
        width: 900px;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .ad_info_date h3 {
        width: 900px;
        margin: 0 auto 25px;
        color: #949494;
        text-align: left;
    }

    .ad_info_date input {
        padding-left: 10px;
    }

    #ad_reg_btn {
        position: absolute;
        right: -50px;
        bottom: -140px;
        border: none;
        width: 150px;
        height: 60px;
        border-radius: 30px;
        background: #0080ff;
        color: white;
        font-size: 24px;
    }

    fieldset {
        position: relative;
    }

    form {
        border: 1px solid #c9c9c9;
        padding: 50px;
    }

    .current {
        color: #333;
    }