#ad_reg {
    height: auto;
    width: 900px;
    margin: 70px auto 160px;
}

.ad_reg_title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto 20px;
}

.company_info {
    width: 900px;
    height: 330px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company_info p {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company_info label {
    display: inline-block;
    line-height: 30px;
    text-align: left;
    color: #949494;
    font-size: 16px;
}

.company_info_box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 160px;
    margin: auto;
}

.company_info_box1 p {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.company_info_box1 p input {
    width: 330px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0080ff;
    box-sizing: border-box;
}

.company_info_box2 {
    width: 900px;
    height: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.company_info_box2 p {
    width: 900px;
}

.company_info_box2 input {
    width: 800px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #0080ff;
    box-sizing: border-box;
}

.company_info h3 {
    font-size: 18px;
    width: 900px;
    margin-bottom: 20px;
    text-align: left;
}

.company_info>p>input {
    width: 330px;
    height: 30px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid #0080ff;
    box-sizing: border-box;
}

.company_info #c_logo {
    width: 400px;
}

#c_logo span {
    line-height: 30px;
}

.filebox .upload-name {
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #0080ff;
    width: 500px;
    color: #999999;
    box-sizing: border-box;
    border-radius: 5px;
}

.filebox .file_search {
    display: inline-block;
    padding: 0 10px;
    color: #fff;
    vertical-align: middle;
    background-color: #0080ff;
    cursor: pointer;
    height: 30px;
    box-sizing: border-box;
    margin-right: 100px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.c_logo {
    margin-right: 37px
}