.header_logo {
    display: block;
    width: 218px;
    height: 58px;
    background: url(../images/seanet.png)no-repeat;
    text-indent: -9999px;
}

.gnb_logo {
    width: 21px;
    height: 24px;
}

.footer_logo {
    width: 218px;
    height: 58px;
    background: url(../images/seanet.png)no-repeat;
    text-indent: -9999px;
}

.company_list article {
    width: 380px;
    height: 120px;
}

/* vip광고 */
.vip_ad1 {
    background: url(../images/hmm.png)no-repeat;
}

.vip_ad2 {
    background: url(../images/skshipping.png)no-repeat;
}

.vip_ad3 {
    background: url(../images/kmtc1.png)no-repeat;
}

.vip_ad4 {
    background: url(../images/wil.png)no-repeat;
}

.vip_ad5 {
    background: url(../images/hlng.png)no-repeat;
}

.vip_ad6 {
    background: url(../images/sm.png)no-repeat;
}

.vip_ad7 {
    background: url(../images/hline.png)no-repeat;
}

.vip_ad8 {
    background: url(../images/panocean.png)no-repeat;
}