.ad {
    width: 1000px;
    height: 700px;
    margin: 0 auto 50px;
    position: relative;
    overflow: hidden;
    line-height: 1.5;
    font-family: "roboto", "noto sans kr", "applesdgothicneo";
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.basic_ad {
    position: relative;
    width: 1000px;
    margin: auto
}

.basic_ad h2 {
    font-size: 20px;
    font-weight: bold;
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    line-height: 24px;
}

/* 일반 광고 박스 */
#ad_box {
    width: 235px;
    height: 121px;
    box-sizing: border-box;
    border-top: 5px solid #4da4fc;
    border-left: 1px solid #4da4fc;
    border-right: 1px solid #4da4fc;
    border-bottom: 1px solid #4da4fc;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

/* 일반 광고 서브 박스 */
#ad_text {
    width: 152px;
    height: 115px;
    border-left: 1px solid #cdf;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 회사이름 */
#ad_text>span:first-child {
    font-size: 10px;
    color: #949494;
}

.ad_img {
    width: 80px;
    height: 115px;
}

/* 일반 광고 스크립트 */
#ad_text .dd {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

/* 디데이 */
#ad_text .day {
    color: #0080ff;
    font-size: 10px;
}

/* 펼치기 감추기 */
.ad_more {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #646464;
    cursor: pointer;
}