/* company_list */
.company_list {
    width: 381px;
    height: 1441px;
    border-top: 1px solid #949494;
    border-left: 1px solid #949494;
    border-bottom: 1px solid #949494;
    box-sizing: border-box;
    float: left;
    overflow: scroll
}

::-webkit-scrollbar {
    display: none;
}

.provision_wrap {
    margin: 0 auto 70px;
    height: 1440px;
}

.provision_list {
    width: 380px;
    height: 120px;
    box-sizing: border-box;
    border-left: 1px solid #949494;
    border-top: 1px solid #949494;
    border-right: 1px solid #949494;
    border-bottom: 1px solid #949494;
    font-family: "roboto", "noto sans kr", "applesdgothicneo";
    font-size: 15px;
    padding: 20px;
    line-height: 20px;
    background: #ededed;
    position: relative;
}

.provision_list dl {
    width: 340px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.company_list dl dt {
    margin-bottom: 10px
}

.list_port {
    margin-bottom: 10px
}