/* 전체 ul */
.vip_ad {
    width: 1000px;
    height: 965px;
    margin: 0 auto 70px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box_vip {
    width: 1000px;
    position: relative;
    margin: auto;
}

/* h2 */
.vip_title {
    height: 30px;
    width: 1000px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #303030;
    box-sizing: border-box;
    margin: auto;
}

/* 펼치기 감추기 */
.vip_more {
    position: absolute;
    right: 0;
    top: -29px;
    color: #646464;
    cursor: pointer;
}


.vip_adbox {
    width: 233px;
    height: 306px;
    border-top: 5px solid #4da4fc;
    border-left: 1px solid #4da4fc;
    border-right: 1px solid #4da4fc;
    border-bottom: 1px solid #4da4fc;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vip_img {
    width: 100%;
    height: 175px;
}

/* 광고 내부 스크립트 상자 */
.ad_txt {
    width: 100%;
    height: 123px;
    background: white;
    border-top: 1px solid #caddff;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* 광고 내부 회사 이름 */
.vip_ad dl>dt {
    font-size: 14px;
    color: #777777;
}

/* 광고 내부 스크립트 */
.vip_ad dl>dd {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Noto sans";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; */
}

/* 디데이 */
.vip_ad dl dd:last-child {
    color: #0080ff;
    font-size: 14px;
}

